
:root{
    --color: #ffffff;
    --background: #141414;
    --red: #e50914;
    --gray: rgb(41, 41, 41);
}

* {
    box-sizing: border-box;

}


/* LAYOUT */
body{
    margin: 0;
    background-color: var(--background);
    color: var(--color);
    font-family: 'Arial', sans-serif, Verdana, Tahoma, sans-serif;
    font-size: 1em;
}

.main-layout{
    min-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-rows: 
    auto
    1fr
    auto;
}

/* NAV */

nav{
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray);
    padding: 0 1em;

}
nav img{
    background-color: var(--red);
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid white; */
    padding: 0;
    width: 9em;
}

nav a {
    color: inherit;
    text-decoration: none;
    font-size: 1em;


}

nav .search{
    height: 80%;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}


nav button{
    background-color: var(--red);
    border-color: var(--red);
    border-radius: 5px;
    color: var(--color);
    font-size: 1em;
    height: 1.7em;
    padding-bottom: 3px;
}
nav label{
    display: none;
}

/* CARDS */

.cards-layout{
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 3em; */
    column-gap: 3em;
    row-gap: 3em;
    margin: 0 2em;
}


.card{
    background-color: var(--gray);
    overflow: hidden;
    /* max-width: 300px;
    max-height: 300px; */
    border-radius: 10px;
}

.card img{
    object-fit: scale-down;
}

.center {
    text-align: center;
}

h2, h1{
    margin: 2em 0;
}

/* FOOTER */
footer{
    background-color: var(--gray);
    margin-top: 2em;
    padding: 2em 0 0 1em;
}

@media screen and (min-width : 767px) and (max-width : 1023px) {
    .cards-layout{
        grid-template-columns: 1fr 1fr ;
    }

    .logo{
        justify-self: start;
    }

}

@media screen and (min-width : 1023px)  {
    .cards-layout{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    nav{
        padding: 0 1em;
        justify-content: space-between;
        gap: 1em;
    }

    .logo{
        justify-self: start;
    }

    .selection{

        grid-template-columns: 1fr 1fr 1fr;

    }
}
